{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block menu %}
{% for entry in entries %}
<a href="{{ url_for('index') }}">Home</a>
<a href="#">Edit</a>
<a href="{{ url_for('delete', entry_id=entry.id) }}">Delete</a>
{% endfor %}
{% endblock %}

{% block content %}

{% for journal in entries %}

<form method='GET' action=''>
  <div class="row">
    <div class="six columns">
      {{ journal.title }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {{ journal.date }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {{ journal.time_spent }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {{ journal.learnt }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {{ journal.resources }}
    </div>
  </div>
</form>
{% endfor %}

{% endblock %}