
{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block css %}
  <link rel="stylesheet" href="/static/css/details.css">
{% endblock %}

{% block menu %}
{% for entry in entries %}
<a href="{{ url_for('index') }}">Home</a>
<a href="#">Edit</a>
<a href="{{ url_for('delete', entry_id=entry.id) }}">Delete</a>
{% endfor %}
{% endblock %}

{% block content %}

{% for journal in entries %}

<div id="entry">
  <div class="row">
    <div class="title">
      {{ journal.title }}
    </div>
  </div>
  <div class="row">
    <div class="six columns date">
      Posted on {{ journal.date }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      {{ journal.time_spent }}
    </div>
  </div>
  <div class="row">
    <div class="label">
      What I learned
    </div>
    <div class="learned">
      {{ journal.learnt }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      Resources: {{ journal.resources }}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}